*{
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.User{
  padding: 30px;
  border-bottom: 1px solid #ccc;
}
.header{
  width: 100vw;
  color:blue;
  padding: 30px;
}
button{
  border: none;
  background: transparent;
}
a{
  text-decoration: none;
  color:blue;
}
h1{
  font-size: 20px;
}
.map{
  height: 30vh;
}